<!DOCTYPE html>
<html lang="en">
<head>
	<title>Name - get smart(er)</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/plans.css">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</head>
<body>

	<section class="billboard">
		<header>
			<div class="wrapper">
				<a href="#"><img src="img/logo.png" class="h_logo" alt="" title=""></a>
				<nav>
					<ul class="main_nav">
						<li class="current"><a href="#">Home</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section class="caption">
			<p class="cap_title">Lytics</p>
		</section>
	</section><!-- Billboard End -->

	<section class="services wrapper">
			<div class="S_icons">
				<div class="icon-div monitor">
				</div>
				<hr class="sp"/>
				<div class="icon-div burn">
				</div>
				<hr class="sp"/>
				<div class="icon-div locked">
				</div>
			</div>
			<ul class="desc">
				<li>
					<h3>Data-Driven</h3>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur.</p>
				</li>
				<li>
					<h3>Design-Focused</h3>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur.</p>
				</li>
				<li>
					<h3>Security-Oriented</h3>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur.</p>
				</li>
			</ul>
	</section><!-- services End -->

	<section class="call_to_action">
		<div class="wrapper">
			<img src="img/cta_image.png" alt="" title="">
			<section class="cta_desc">
				<h3>We make good websites great.</h3>
				<p style = "font-size: 25px">After 3 months of using our product, our clients averaged a 20% increase in website revenue. Don't leave money on the table.</p>
				<a href="#" class="cta_btn">Sign Up Today!</a>
			</section>
		</div>
	</section><!-- call_to_action End -->

	<!-- begin pricing plans -->
	<div class="cd-pricing-container cd-has-margins">

		<ul class="cd-pricing-list">
			<li>
				<header class="cd-pricing-header">
					<h2>Basic</h2>

					<div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">30</span>
						<span class="cd-duration">mo</span>
					</div>
				</header> <!-- .cd-pricing-header -->

				<div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>256MB</em> Memory</li>
						<li><em>1</em> User</li>
						<li><em>1</em> Website</li>
						<li><em>1</em> Domain</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div> <!-- .cd-pricing-body -->

				<footer class="cd-pricing-footer">
					<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
				</footer> <!-- .cd-pricing-footer -->
			</li>
			<li class="cd-popular">
				<header class="cd-pricing-header">
					<h2>Popular</h2>

					<div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">60</span>
						<span class="cd-duration">mo</span>
					</div>
				</header> <!-- .cd-pricing-header -->

				<div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>512MB</em> Memory</li>
						<li><em>3</em> Users</li>
						<li><em>5</em> Websites</li>
						<li><em>7</em> Domains</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div> <!-- .cd-pricing-body -->

				<footer class="cd-pricing-footer">
					<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
				</footer> <!-- .cd-pricing-footer -->
			</li>
			<li>
				<header class="cd-pricing-header">
					<h2>Premier</h2>

					<div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">90</span>
						<span class="cd-duration">mo</span>
					</div>
				</header> <!-- .cd-pricing-header -->

				<div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>1024MB</em> Memory</li>
						<li><em>5</em> Users</li>
						<li><em>10</em> Websites</li>
						<li><em>10</em> Domains</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div> <!-- .cd-pricing-body -->

				<footer class="cd-pricing-footer">
					<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
				</footer>  <!-- .cd-pricing-footer -->
			</li>
		</ul> <!-- .cd-pricing-list -->
	</div> 
	<!-- end pricing plans -->

	<section class="client_testimonials">
		<div class="wrapper">
			<h3 style = "padding-right:125px">Our Happy Clients.</h3>
			<section class="testimonials">
				<img src = "img/google.png" title = "" atl = ""/>
			</section>

			<section class="testimonials">
				<img src = "img/robinhood.png" title = "" atl = ""/>
			</section>

			<section class="testimonials">
				<img src = "img/airbnb.png" title = "" atl = ""/>
			</section>

			<section class="testimonials">
				<img src = "img/kayak.png" title = "" atl = ""/>
			</section>

			<section class="testimonials">
				<img src = "img/tesla.png" title = "" atl = ""/>
			</section>

			<section class="testimonials">
				<img src = "img/uber.png" title = "" atl = ""/>
			</section>

			<section class="testimonials">
				<img src = "img/hp.png" title = "" atl = ""/>
			</section>

			<section class="testimonials">
				<img src = "img/microsoft.png" title = "" atl = ""/>
			</section>
		</div>
	</section><!-- testimonials End -->

	<footer>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</nav>
		<hr class="footer_sp"/>
		<p class="rights">© 2013 BrandName.com - All Rights Reserved - Find More Free Templates at <a href="http://pixelhint.com">Pixelhint.com</a>.</p>
	</footer><!-- footer End -->

</body>