<!DOCTYPE html>
<html lang="en">
<head>
	<title>HTML5 Free Template |  Designed & Coded by pixelhint.com</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<section class="billboard">
		<header>
			<div class="wrapper">
				<a href=""><img src="img/lytics-logo-white.png" class="h_logo" alt="" title=""></a>
				<nav>
					<ul class="main_nav">
						<li class="current"><a href="">Home</a></li>
						<li><a href="about_us.html">About Us</a></li>
						<li><a href="#">Sign Up</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section class="caption">
			<p class="cap_title">Analytics for All</p>
		</section>
	</section><!-- Billboard End -->

	<section class="services">
		<div class="wrapper">
			<div class="S_icons">
				<div class="icon-div monitor">
				</div>
				<hr class="sp"/>
				<div class="icon-div burn">
				</div>
				<hr class="sp"/>
				<div class="icon-div locked">
				</div>
			</div>
			<ul class="desc">
				<li>
					<h3>Data-Driven</h3>
					<p>Our service conglomerates data to provide valuable insight into user workflow.</p>
				</li>
				<li>
					<h3>Design-Focused</h3>
					<p>Our innovative heat-map algorithm lets you view how users interact with your site.</p>
				</li>
				<li>
					<h3>Security-Oriented</h3>
					<p>All data collected by our system is backed up and stored on secure servers.</p>
				</li>
			</ul>
		</div>
	</section><!-- services End -->

	<section class="call_to_action">
		<div class="wrapper">
			<img src="img/cta_image.png" alt="" title="">
			<section class="cta_desc">
				<h3>We Design Beautiful Templates.</h3>
				<p>We Design Beautiful Templates.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore euna fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in pel culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="#" class="cta_btn">Sign Up Now!</a>
			</section>
		</div>
	</section><!-- call_to_action End -->

	<section class="client_testimonials">
		<div class="wrapper">
			<h3>Our Happy Clients.</h3>
			<section class="testimonials">
				<blockquote>Fenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote> 

				</blockquote>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</blockquote>

				<a href="http://twitter.com/pixelhint" target="_blink" class="author">@Jane Doe</a>
				<img class="avatar" src="img/author.jpg" title="" atl=""/>
			</section>

			<section class="testimonials">
				<blockquote>Fenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote> 

				</blockquote>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</blockquote>
				
				<a href="http://twitter.com/pixelhint" target="_blink" class="author">@Jane Doe</a>
				<img class="avatar" src="img/author2.jpg" title="" atl=""/>
			</section>

			<section class="testimonials">
				<blockquote>Fenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote> 

				</blockquote>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</blockquote>
				
				<a href="http://twitter.com/pixelhint" target="_blink" class="author">@Jane Doe</a>
				<img class="avatar" src="img/author3.jpg" title="" atl=""/>
			</section>
		</div>
	</section><!-- testimonials End -->

	<footer>
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="about_us.html">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</nav>
		<hr class="footer_sp"/>
		<p class="rights">© 2013 BrandName.com - All Rights Reserved - Find More Free Templates at <a href="http://pixelhint.com">Pixelhint.com</a>.</p>
	</footer><!-- footer End -->

</body>