
/* About Us */
/* Override header CSS to show color */
header {
	width: 100%;
	height: 100px;
	background-color: rgba(255, 87, 34, 0.9);
	position: fixed;
	z-index: 9999;
}

.about-us {
	width:100%;
	background-color: #ffffff;
	padding-top: 120px;
	padding-bottom: 20px;
}

.about-us .wrapper {
	min-height: 640px;
}

.about-us h3{
	color: #636363;
	width: 100%;
	font-family: "LatoBold", arial;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.about-us img {
	width: 96%;
	height: auto;
	margin-left: 4%;
	margin-bottom: 20px;
}

.about-us p {
	font-family: 'LatoRegular', arial;
	color: #7e7e7e;
	font-size: 16px;
	letter-spacing: .5px;
	line-height: 25px;
	margin-bottom: 10px;
}

.split-left {
	float: left;
	display: inline-block;
	width: 50%;
}
.split-right {
	float: right;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.about-us a.cta_btn{
	padding: 15px 40px;
	display: inline-block;
	color: #fff;
	font-family: "LatoBold", arial;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;

	background-color: #FF5722;

	box-shadow: 0 3px 0 #E54E1F;
	-moz-box-shadow: 0 3px 0 #E54E1F;
	-webkit-box-shadow: 0 3px 0 #E54E1F;
	-o-box-shadow: 0 3px 0 #E54E1F;
}