/** code for conversion rate **/
#container {
	height: 100%;
	width: 100%;
	top:0;
}

td span {
	margin: 20px;
	height: 200px;
	width: 200px;
	display: inline-block;
}

.radial_wrapper {
	padding-left: 10px;
}

.radial_label {
	text-align: center;
}


.label {
	font-size: 40px;
}

.bar {
	transform: translateX(-60px);
	padding-top: 45px;
}

.progress_wrapper {
	padding-top: 50px;
	width: 75%;
	margin: 0 auto;
}

#progress {
	display: inline;
	width: 50%;
}